*, ::after, ::before {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input:focus {
  outline: none;
}

textarea {
  outline: none;
}

:focus {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

h2 {
  color: #212121;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 480px) {
  h2 {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 36px;
  }
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  margin: auto;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188CE8;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .menu-button {
    width: 40px;
    height: 40px;
    display: inline-flex;
    border: none;
    background-color: transparent;
    margin-left: auto;
    padding: 10px;
  }
  .menu-button .icon-burger-close {
    display: none;
  }
  .menu-button.is-open .icon-burger-close {
    display: block;
  }
  .menu-button.is-open .icon-burger {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.logo {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.19;
}

@media screen and (min-width: 480px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-color {
  color: #2196F3;
}

.main-menu {
  display: flex;
  align-items: center;
}

.menu-list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 480px) {
  .menu-list {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .menu-list {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    margin-left: 85px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-list {
    display: flex;
    margin-left: 85px;
  }
}

@media screen and (min-width: 768px) {
  .menu-list .items:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-list-link {
  padding-left: 0;
  display: block;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .menu-list-link {
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .menu-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.menu-list .items {
  position: relative;
}

@media screen and (max-width: 767px) {
  .menu-list .items:not(:first-child) {
    margin-top: 40px;
  }
}

.menu-list-link:hover::after {
  content: '';
  display: inherit;
  background-color: #2196F3;
}

.menu-list .active {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .menu-list .active {
    display: inline-flex;
    border-bottom: 2px solid #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .menu-list .active::after {
    display: inherit;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
}

.menu-list-link:hover, .menu-list-link:focus {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .menu-burger {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 397px;
    display: none;
    display: none;
    z-index: 999999;
  }
  .menu-burger.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-burger {
    display: flex;
    align-items: center;
  }
}

.menu-button {
  cursor: pointer;
  fill: currentColor;
}

.menu-button {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover, .menu-button:focus {
  fill: #2196F3;
}

.menu-button.is-open {
  fill: currentColor;
}

.menu-button.is-open:hover {
  fill: #2196F3;
}

.contact {
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .contact {
    font-size: 18px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 480px) {
  .contact {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    display: block;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    margin-left: 305px;
  }
}

@media screen and (max-width: 767px) {
  .contact .items:not(:first-child) {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contact .items:not(:first-child) {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact .items:not(:first-child) {
    margin-left: 30px;
  }
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contact-link {
  display: inline-flex;
  align-items: center;
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover, .contact-link:focus {
  color: #2196F3;
  fill: #2196F3;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  max-width: 767px;
  min-height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1999px;
    min-height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    min-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop@2x.jpg);
  }
}

.hero-wrap {
  max-width: 696px;
  margin: auto;
  padding: 0 15px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.615;
  }
}

.feature-desc {
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .feature-desc {
    text-align: center;
  }
}

.feature-text {
  line-height: 1.714;
}

@media screen and (min-width: 480px) {
  .feature-list {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .feature-list-items:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list-items {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list-items:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list-items:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list-items {
    width: calc((100% - 90px) / 4);
  }
  .feature-list-items:not(:first-child) {
    margin-left: 30px;
  }
}

.feature {
  padding-top: 94px;
}

@media screen and (min-width: 480px) {
  .feature {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.feature-icon-items {
  width: 100%;
  height: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-title {
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
}

.box {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .box {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .box-list {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .box-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .box-list {
    display: flex;
  }
}

.box-list-items:not(:first-child) {
  margin-left: 30px;
}

.items-box-1 {
  position: relative;
}

.items-box-2 {
  position: absolute;
  width: 100%;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-title {
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.items-box-2_title {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
}

.team-text {
  display: block;
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background-color: #F5F4FA;
}

@media screen and (min-width: 480px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 480px) {
  .team-list {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
  }
}

.team-icon {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

/* .team {
        text-align: center;
        background-color: #F5F4FA;
    } */
.team-style {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 480px) {
  .team-style {
    min-width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .team-style:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .team-style {
    width: calc((100% - 30px)/2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-style:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-style:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-style {
    width: calc((100% - 90px)/4);
  }
  .team-style:not(:first-child) {
    margin-left: 30px;
  }
}

.team-icon-link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover, .team-icon-link:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
  border-radius: 50%;
}

.team-icon .items:not(:first-child) {
  margin-left: 10px;
}

.team-title {
  display: block;
  margin-top: 30px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 480px) {
  .client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.client-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .client-list {
    flex-wrap: none;
  }
}

@media screen and (max-width: 767px) {
  .client-list .items {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .client-list .items:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .client-list .items:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .client-list .items {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list .items:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list .items:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client-list .items {
    width: calc((100% - 150px) / 6);
    margin-bottom: 0;
  }
  .client-list .items:not(:first-child) {
    margin-left: 30px;
  }
}

.client-list-link {
  width: 170px;
  height: 90px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .client-list-link {
    width: 100%;
  }
}

.client-list-link:hover, .client-list-link:focus {
  fill: #2196F3;
  border-color: #2196F3;
}

.footer-container {
  justify-content: space-between;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer-container {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    width: 1200px;
    display: flex;
  }
}

.footer-section {
  background-color: #2F303A;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-list .items:not(:first-child) {
  margin-left: 10px;
}

.footer-contact-text {
  color: #ffffff;
  line-height: 1.17;
}

.footer-form-action .button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .footer-form-action .button {
    margin-top: 20px;
  }
}

.footer-form-action .button:hover, .footer-form-action .button:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .footer-form-action {
    display: flex;
  }
}

.footer-form-action input {
  min-height: 50px;
  border: 1px solid rgba(165, 165, 165, 0.3);
  border-radius: 4px;
  background: transparent;
  padding-left: 16px;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer-form-action input {
    max-width: 450px;
    width: 100%;
    display: block;
    margin: auto;
  }
}

.footer-botton_icon {
  margin-left: 10px;
  fill: #ffffff;
}

.footer-contact-link {
  display: inline-flex;
  align-items: center;
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-link:hover, .footer-contact-link:focus {
  color: #2196F3;
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 50px;
  }
}

.footer-social-link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196F3;
  fill: #ffffff;
}

.footer-list-marg {
  margin-top: 9px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tablet {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer-tablet {
    display: flex;
    align-items: baseline;
  }
}

.footer-social-title {
  display: block;
  padding-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .logo-footer {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio-project-list {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-project-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) {
  .portfolio-project-items {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio-project-items:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-project-items {
    width: calc((100% - 30px)/2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-project-items:not(:last-child) {
    margin-bottom: 30px;
  }
  .portfolio-project-items:not(:nth-last-child(-n+1)) {
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .portfolio-project-items {
    width: calc((100% - 60px)/3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio-project-items:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-project-items:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.portfolio-project-block {
  margin: 20px 24px;
}

.portfolio-project-items-link {
  display: inline-block;
  border: 1px solid #EEEEEE;
}

.portfolio-project-items-link:hover, .portfolio-project-items-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-project-items_images {
  position: relative;
  overflow: hidden;
}

.portfolio-project-items_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-project-items-link:hover .portfolio-project-items_text,
.portfolio-project-items-link:focus .portfolio-project-items_text {
  transform: translateY(0%);
}

.portfolio-project-title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-project {
  margin-top: 50px;
}

.portfolio-project-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-project-desc {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.6;
}

.portfolio-menu-button {
  padding: 6px 22px;
  background-color: #F5F4FA;
  color: #212121;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-button:hover, .portfolio-menu-button:focus {
  background-color: #2196F3;
  color: #ffffff;
}

.portfolio-menu-filter {
  display: flex;
}

@media screen and (max-width: 767px) {
  .portfolio-menu-filter {
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 362px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-menu-filter {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-menu-filter {
    justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio-menu-filter .items:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .portfolio-menu-filter .items:nth-last-child(-n+2) {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-menu-filter .items:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

.indent {
  margin-bottom: 50px;
}

.pop-ups {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  overflow: hidden auto;
  display: flex;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  max-width: 450px;
  height: 609px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
    width: 100%;
  }
}

.pop-ups.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.pop-ups.is-hidden .modal {
  transform: translate(100%, 100%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.close-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover, .close-modal:focus {
  fill: #2196F3;
}

.modal-form {
  margin-top: 40px;
}

.modal-form_title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-form_title {
    width: 370px;
    margin: auto;
    line-height: 1.5;
  }
}

.modal-form_action-input {
  display: flex;
  flex-direction: column;
  max-width: 448px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-form_action-input {
    width: 370px;
  }
}

.modal-form_action-check {
  width: 425px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-form_action-check {
    font-size: 12px;
    width: 370px;
  }
}

.modal-form_action-input input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
}

.modal-form_action-input input:hover, .modal-form_action-input input:focus {
  border: 1px solid #2196F3;
  cursor: pointer;
}

.modal-form_action-input:focus-within {
  fill: #2196F3;
}

.modal-form_action-input textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  width: 448px;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-form_action-input textarea {
    width: 370px;
  }
}

.modal-form_action-input textarea:hover:hover, .modal-form_action-input textarea:hover:focus {
  border: 1px solid #2196F3;
  cursor: pointer;
}

.modal-form_action-input textarea:hover:focus:hover, .modal-form_action-input textarea:hover:focus:focus {
  border: 1px solid #2196F3;
  cursor: pointer;
}

.modal-form_action-input textarea::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form_button {
  margin-top: 30px;
  text-align: center;
}

.modal-form_action-input + .modal-form_action-input {
  margin-top: 10px;
}

.modal-form_button .button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form_button .button:hover, .modal-form_button .button:focus {
  background-color: #188CE8;
}

.modal-form_action-link {
  color: #2196F3;
  text-decoration: underline;
}

.modal-form_action-link:hover, .modal-form_action-link:focus {
  text-decoration: none;
}

.modal-form_icon {
  position: relative;
  margin-top: 4px;
}

.modal-form_icon:hover, .modal-form_icon:focus {
  fill: #2196F3;
}

.modal-form_icon-input {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 12px;
  pointer-events: none;
}

.modal-form_check-label {
  display: flex;
  align-items: center;
}

.modal-form_check-label::before {
  content: '';
  display: flex;
  align-items: center;
  display: block;
  width: 16px;
  height: 15px;
  background-image: url(../images/form-icon.svg);
  background-repeat: no-repeat;
  margin-right: 10px;
}

.modal-form_check:checked + .modal-form_check-label::before {
  background-image: url(../images/forma-icon-checked.svg);
  background-repeat: no-repeat;
  background-color: #2196F3;
  border-radius: 2px;
  background-position: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */