.box-title {
    color:#ffffff;  
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    }

.items-box-2_title {
        color:#ffffff;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.14;
        }
        