.box {
    padding-top:94px;
    padding-bottom:94px;
    text-align: center;
  
        @media screen and (max-width:1199px) {
        display: none;
        }
        

}

.box-list{
    

    @media screen and (min-width:$mobile) {
        display: block;
    }
    @media screen and (min-width:$tablet) {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width:$desktop) {
        display: flex;
    }
}

.box-list-items {
    &:not(:first-child) {
        margin-left:30px;
    }
}

.items-box-1 {
    position: relative;
}

.items-box-2 {
    position: absolute;
    width: 100%;
    min-height: 70px;
    background-color:rgba(47, 48, 58, 0.8);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}