.client {
    padding-top: 94px;
    padding-bottom: 94px;
}

// .client-list .items + .items {
// margin-left:30px; 
// }

.client-list {
    .items:not(:first-child) {
       margin-left:30px; 
   }
}

.client-list-link {
    width: 170px;
    height: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill:#afb1b8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


.client-list-link {
    &:hover, &:focus {  fill:#2196F3;
    border-color: #2196F3;}
}