.client {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (min-width:$mobile) {
        padding-top:60px; 
        padding-bottom:60px;
    }
}
.client-list {
    display: flex;
     flex-wrap: wrap;
   

    @media screen and (min-width:$tablet) {
        
    }
    @media screen and (min-width:$desktop) {
        flex-wrap:none;
    }

}
// .client-list .items + .items {
// margin-left:30px; 
// }

.client-list .items {

    @media screen and (max-width:767px) {
        width: calc((100% - 30px) / 2);
        
        &:nth-child(2n) {
            @media screen and (max-width: 767px) {
        margin-left: 30px;
            }
        }

        &:not(:nth-last-child(-n+2)) {
            @media screen and (max-width: 767px) {
      
        margin-bottom: 30px;
            }
            
    }
}

@media screen and (min-width:$tablet) {
    width: calc((100% - 60px) / 3);

    &:not(:nth-child(3n)) {
        @media screen and (max-width: 1199px) {
         margin-right: 30px;
        }
     }

     &:not(:nth-last-child(-n+3)) {
        @media screen and (max-width: 1199px) {
         margin-bottom: 30px;
        }
     }

}

@media screen and (min-width:$desktop) {
    width: calc((100% - 150px) / 6);
    margin-bottom: 0;

    &:not(:first-child) {
        margin-left: 30px;
    }
}
}


.client-list-link {
    width: 170px;
    height: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill:#afb1b8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:$mobile) {
        width:100%;
    }
    
}


.client-list-link {
    &:hover, &:focus {  fill:#2196F3;
    border-color: #2196F3;}
}