.contact {
    margin-left: auto;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @media screen and(max-width:767px) {
        font-size: 18px;
        line-height:1.17;
    }

     @media screen and(min-width:$mobile) {    
         display: block;
     }
    @media screen and(min-width:$tablet){
     display: block;
     margin-left: 50px;

    }
     @media screen and(min-width:$desktop){
       display: flex;
       margin-left: 305px;
       }

    }
    


    .contact {

        .items:not(:first-child) {
            @media screen and(max-width:767px) {
            margin-top: 16px;
            }

            @media screen and(min-width:$tablet){
                margin-left: 0;
            
                }
                @media screen and(min-width:$desktop){
            margin-left: 30px; }
        }
    }

    .icon-smartphone {
        width: 10px;
        height: 16px;
        margin-right: 10px;
        
        }
        
    .icon-envelope{
            width: 16px;
            height: 12px;  
            margin-right: 10px;
        }
    
    .contact-link  {
    display: inline-flex;
    align-items: center;
    color: $primary-text-color;
    fill:$primary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    

    .contact-link {
        &:hover, &:focus {
            color: $accent-color;
            fill: $accent-color;
        }
    }