.portfolio-menu-button {
    padding:6px 22px;
    background-color: #F5F4FA;
    color:#212121;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height:1.625;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .portfolio-menu-button {

    &:hover, &:focus {   

    background-color: $accent-color;
    color: $button-color;}

        }
        
        .portfolio-menu-filter {
            display: flex;
            @media screen and (max-width:767px) {
                flex-wrap: wrap;
                justify-content: flex-start;
                max-width: 362px;
                }

                @media screen and (min-width:$tablet) {
                
                    justify-content: center;
                    }

            @media screen and (min-width:$desktop) {
            justify-content: center;
            }
        }
        
        .portfolio-menu-filter {
            .items {

            @media screen and (min-width:$mobile){
                @media screen and (max-width:767px) {
            &:not(:last-child) {
                margin-right:8px;  
            }
        }
        @media screen and (max-width:767px) {
        &:nth-last-child(-n+2) {
        margin-top:15px;
        }
    }
        }

        @media screen and (min-width:$tablet){
        &:not(:last-child) {
            margin-right:8px;  
        }



    }


        }
        
        }

      