*, ::after,::before {
    margin: 0;
    padding: 0;
}


img {
    display: block;
}

address {

    font-style: normal;  
}

button {
    border:0;
}

a {text-decoration: none;}

ul {
 list-style-type: none;
}

input:focus {
    outline: none;
}

textarea {
    outline: none;
}

:focus {
    outline: none;
}